body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

a {
    text-decoration: none;
}

.img {
    width: 100%;
    
    height: 700px;
}

.img-bg {
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
}



.container {
    width: 1000px;
    margin: auto;
    
}

/*######################################################*/
/*##############       Navegador       #################*/
/*######################################################*/

.nav-container {
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    font-size: 20px;
  
}

ul , li {
    list-style-type: none;
}

.nav-container > img {
    max-width: 100px;
 
} 

.nav-container > ul {
    width: 75%;
    margin-left: 160px;
    align-items: center;
    justify-content: space-between;
   
    
}

.nav-container >*> li{
    display: inline; 
    justify-content: center;
    margin: 10;
    
 }

.nav-container >*> li a {
    padding: 7px 10px 7px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 40px;
}

.nav-container >*> li a:hover{
    background-color: #218131;
    color: #ffffff;
}

.nav-container >*>*> .search {
    color:  #218131;      

}


/*#####################################################################*/
/*####################       Separador       ##########################*/
/*#####################################################################*/

hr {
    margin: 50px;
    clear: both; 
    visibility: hidden; 
}

/*#####################################################################*/
/*##################       Menu Central       #########################*/
/*#####################################################################*/

.main-text {
    width: 700px;
    height: 300px;
    margin: auto;
    color: #ffffff;
    text-align: center;
    justify-content: center;
   
    
}

.main-text > h1 {
    text-transform: capitalize;
    color: #3d9116;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    
}

.main-text > p {
    width: 400px;
    margin: auto;
    display: flex;
    font-size: 14px;
    padding-bottom: 40px;
    
}

.button {
    margin: 5%;
    padding: 6px 7px 6px 7px;
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    border-radius: 35px;
    font-size: 13px;
    
}

.button:hover {
    cursor: pointer;
    background-color: #28b31c;
    color: #ffffff;
}

/*#####################################################################*/
/*#################     Contenedor de Objetos      ####################*/
/*#####################################################################*/

.items-container {
    display: flex;
    justify-content: space-between;
    
    
}

.item { 
    height: 270px;
    width: 800PX;
    margin: auto 2%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
   
    color: rgb(255, 255, 255);
    
}

.item > h3 {
    text-transform: capitalize;
    font-size: 20px;
}

.item > p {
    font-size: 12px;
    text-align: center;
}

.icons {
    margin-top: 20px;
    width: 25%;
}

/*#####################################################################*/
/*#####################     Primera Entrada     #######################*/
/*#####################################################################*/

.subText1 {
    display:flex;
    align-items: 0;
    width: auto;
    color: #464646;
    
    
}

.subText1-1 {
    display:inline;
    width: auto;
    margin-left: 2%;
    
}

.subText1-1 > p {
    color: #ff0000; 
    font-size: 18px;
    
}

.subText1-1 > h3 {
    width: 270px;
    color: #2c2c2c;
    font-size: 38px;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    
}

.subText1-2 {
    margin-left: 150px;
    font-size: 16px;
    padding-right: 3px;
    
}

/*############################################*/
/*###########      Barras       ##############*/
/*############################################*/
.bars {
    display: flex;
    clear: both;
    padding: 1vw;
}

.box-izquierda {
    float: left;
    
    width: 45%;
    height: 100%;
}

.box-derecha {
    float: right;
    margin-right: 2.5%;
    margin-left: 6.5%;
    width: 45%;
    height: 100%;
    
}


.barras  {
    margin: 1vw 0vw;
}

.derecha {
    font-size: 17px;
    text-align: right;
}

.progress {
    background-color: #e9ecef;
    height: 0.5vw;
    position: relative;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 0px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress1 {
    background-color: #fc8c50;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.progress2 {
    background-color: #84b813;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.progress_black {
    background-color: #18191d;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*############################################*/
/*###########     Footer       ##############*/
/*############################################*/

.footer-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3vw;
}

.footer-list {
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

/*############################################*/
/*###########      Atajos       ##############*/
/*############################################*/

.color-green {
    color: green;
}

.bg-green {
    background-color: #3d9116;
}

.bg-red {
    background-color: #ff0000;
}

.bg-grey {
    background-color: #474747;
}